<!doctype html>

{% extends "layout.html" %}
{% block content %}
  <div class="col-lg-12">
    <div class="container">
        <div class="jumbotron text-center">
            <div class="col-lg-12">
          <h1 class="display-4">Orion Help Functions</h1>
          <p>Orion workflow applications designed to make processes easier</p>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-4">
          <h3 class="lead">View containers from Ship-Transfer form in Orion</h3>
          <p>information about this link will go here.</p>
          <a href="{{ url_for('login_1') }}" class="btn btn-link">View Container App</a>
        </div>
        <div class="col-lg-4">
          <h3 class="lead">Search pending requests for samples at Warson</h3>
          <p>information about this link will go here.</p>
          <a href="{{ url_for('login_2') }}" class="btn btn-link">Pending Warson App</a>
        </div>
        <div class="col-lg-4">
          <h3 class="lead">Search all requests for samples at Warson</h3>
          <p>information about this link will go here.</p>
          <a href="{{ url_for('login_3') }}" class="btn btn-link">All Requests Warson App</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}